services:
  - type: web
    name: eduplay-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install && npx prisma generate && npx prisma migrate deploy
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_CALLBACK_URL
        sync: false

  - type: static
    name: eduplay-frontend
    region: oregon
    plan: free
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        value: https://eduplay-backend-yw7z.onrender.com/api/v1
      - key: VITE_CLOUDINARY_CLOUD_NAME
        value: dexlzykqm
      - key: VITE_CLOUDINARY_UPLOAD_PRESET
        value: eduplay_apps
      - key: VITE_CLOUDINARY_RAW_UPLOAD_PRESET
        value: eduplay_raw_files
